#img_acc_tbl{
	width:2.5em;
	height: 2.5em;
	-webkit-transition:.4s all;
}

#img_acc_tbl:hover{
	width:2.5em;
	height: 2.5em;
	-webkit-transition:.4s all;
	-webkit-transform: scale(5); 
    -moz-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
}

#btn-add-acc{
	width: 10em;
	float: right;
	margin-bottom: 2em;
	margin-top: 1.5em;
	padding-left:1em;
	
}

#hdr-acc{
	width: 30em;
	float: left;
	margin-bottom: 0.5em;
}

.form-add{

}